* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, button, input, div, section {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 42px;
}

.palette-section {
  border-bottom: 1px solid #cccccc;
  margin: 20px;
}

.palette-section h1 {
  text-align: center;
}

.colors-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.color-card {
  width: 140px;
  height: 200px;
}

.color-lock-btn {
  background: transparent;
  border: none;
  color: black;
  height: 40px;
  width: 40px;
}

.new-palette {
  background: #f2f2f2;
  border: none;
  display: block;
  font-size: 16px;
  height: 40px;
  margin: 20px auto;
  width: 200px;
}

.save-palette-form,
.save-project-form {
  display: flex; 
  margin: 20px;
  justify-content: center;
}

select, 
button,
input {
  border-radius: 0px;
  box-sizing: border-box;
  height: 30px;
  margin: 10px;
}

.save-palette-form select {
  border: none;
  width: 120px;
}

.palette-name-input,
.project-input {
  padding-left: 10px;
  width: 140px;
}

.palette-submit,
.project-submit {
  background: #f2f2f2;
  border: none;
  width: 120px;
}

.projects-section {

}

.projects-section h3 {
  text-align: center;
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-title {
  max-width: 140px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.project-card {
  min-width: 280px;
  max-width; 400px;
  min-height: 200px;
}

.delete-btn {
  border: none;
  background: transparent;
  color: #cccccc;
  font-size: 20px;
}

.delete-btn:hover {
  color: #ff1a1a;
}

.project-palettes li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
}

.project-palettes h3 {
  font-size: 16px;
  margin: 15px;
}

.small-palette-tile {
  height: 40px;
  width: 40px;
}
